body {
    background-color: #34495E;
    color: #FFFFFF;
}

.figure-container {
    fill: transparent;
    stroke: #FFFFFF;
    stroke-width: 4px;
    stroke-linecap: round;
}

.figure-part {
    display: none;
}
